#back{
    background: url('images/back-img.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: auto;
    height: 579px
}

#road{
    background:url("images/road.jpg");
}

#car{
    width: 150px;
}

.btn{
    background-color: yellow;
    width: 100px;
    font-size: 30px;
    margin-top: 5px;
}

#btn{
    display: flex;
    justify-content: center;
    align-items: center;
}